{# Big touch-friendly fertiliser picker. Needs: ferts, form #}
<fieldset class="pick">
  <legend>Fertiliser</legend>
  {% for f in ferts %}
  <label class="pick-item">
    <input type="radio" name="fertiliser_id" value="{{ f.id }}" required
      {{ 'checked' if form.get('fertiliser_id')|string == f.id|string }}
      data-stock="{{ f.stock_bags|qty }}" data-cost="{{ f.cost_per_bag }}">
    <span><strong>{{ f.name }}</strong><br><small>{{ f.stock_bags|qty }} bags in stock</small></span>
  </label>
  {% endfor %}
</fieldset>
